<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/assets/js/burgers.js'></script>

</head>
<body>
    <img src="" alt="burger img">
    <h1>Eat-Da-Burger!</h1>
    <!-- Text box for burger input -->
    <div class="input-group">
  <div class="input-group-prepend">
    {{!-- <span class="input-group-text">With textarea</span> --}}
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
    <button type="button" class="btn btn-danger">Danger</button>
    <p>Enter a burger you want to eat Click the 'submit' button</p>
</body>
</html>